
/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter',sans-serif;
}
body{
  background-color: #f4f4fc;
  
}


head{
  
}
.logo{

 width: 940px;
    position: relative;
    margin: 0 auto;
}
.terminos{
  text-align:center
width: 500px;
height:18px;
top: 760px;
left: 240px;
gap: 8px;
position: absolute;
display: flex;
flex-direction: row;

}

/* Estilos para el contenedor principal */
.container {

}

/* Estilos para el área de texto */
.texto {
 
  
  width: 981px;
  height: 825px;
  top: 168px;
  left: 240px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #0A3871;
  border: none;

    
}

/* Estilos para el texto de marcador de posición */
.texto::placeholder {
  color: #0a3871;
}

/* Estilos para los botones de encriptar y desencriptar */
.botones {
 width: 400px;
height:67px;
top: 851px;
left: 240px;
gap: 8px;
position: absolute;
margin: 50px;
display: flex;
flex-direction: row;

}

/* Estilos para el botón de encriptar */
.btn-encriptar {
  
 
    height: 67px;
    text-color: white;
    width: 229px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;

}

/* Estilos para el botón de desencriptar */
.btn-desencriptar {
    height: 67px;
    text-color: white;
    width: 229px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0A3871;
    margin-right: 20px;
    cursor: pointer;
}

/* Efecto de hover para los botones */
.btn-desencriptar:hover,
.btn-encriptar:hover {
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
  height: 67px;
  width: 228px;
  display: inline;
}

/* Estilos para la sección de encriptación */
.encriptado {
width: 400px;
height: 825px;
top: 40px;
left: 1000px;
border-radius: 32px;
box-shadow: 5px 32px 32px -8px;
position: absolute;


}

/* Estilos para el mensaje encriptado */
.mensaje-encriptado {
  margin: 30px;
  position: relative;
  top: 50px;

}

/* Estilos para el título del mensaje */
.mensaje-encriptado h2 {
color: #0A3871;
font-size: 15px
}

/* Estilos para el texto del mensaje */
.mensaje-encriptado p {

}

/* Estilos para la imagen en la sección de encriptación */
.encriptado img { 
  width: 336px;
height: 304px;
top: 283px;
left: 1032px;}


